@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap');
*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFCBCB;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.h11{
    font-family:"Lovers Quarrel", cursive;
        font-weight: 400;
        font-style: normal;
    font-size: 400%;
    margin-left: 19%;
}

.div1 {
    margin-top: 5%;
    margin-bottom: 5%;
    height: 100%;
    gap: 50px;
}

.legenda1 {
    font-family:"Lovers Quarrel", cursive;
        font-weight: 400;
        font-style: normal;
    font-size: 300%;
    display: flex;
    justify-content:center;
    margin-left: 59%;
}

.legenda2 {
    font-family:"Lovers Quarrel", cursive;
        font-weight: 400;
        font-style: normal;
    font-size: 300%;
    display: flex;
    justify-content:center;
    margin-left: 35%;
    margin-top: 7%;
}

.legenda3 {
    font-family:"Lovers Quarrel", cursive;
        font-weight: 400;
        font-style: normal;
    font-size: 300%;
    display: flex;
    justify-content:center;
    margin-top: 7%;
}

.legenda4 {
    font-family:"Lovers Quarrel", cursive;
        font-weight: 400;
        font-style: normal;
    font-size: 300%;
    display: flex;
    justify-content:center;
    margin-top: 7%;
}

.legenda5 {
    font-family:"Lovers Quarrel", cursive;
        font-weight: 400;
        font-style: normal;
    font-size: 300%;
    display: flex;
    justify-content:center;
    margin-left: 35%;
    margin-top: 7%;
}

.legenda6 {
    font-family:"Lovers Quarrel", cursive;
        font-weight: 400;
        font-style: normal;
    font-size: 300%;
    display: flex;
    justify-content:center;
    margin-left: 59%;
    margin-top: 7%;
}

.img1 {
    height: 350px;
    margin-left: 30%;
}

.img2 {
    height: 350px;
    margin-left: 20%;
}

.img3 {
    height: 350px;
    margin-right: 30%;
}

.img4 {
    height: 350px;
    margin-right: 30%;
}

.img5 {
    height: 350px;
    margin-left: 20%;
}

.img6 {
    height: 350px;
    margin-left: 30%;
}

.p1{
    font-family:"Lovers Quarrel", cursive;
        font-weight: 400;
        font-style: normal;
    font-size: 300%;
    margin-left: 20%;
}

.audio {
    margin-left: 20%;
    margin-top: 5px;
    margin-bottom: 5%;
}